__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
app/**/*.pyc

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
*.pyc
.DS_Store

# Installer logs
python-app/pip-log.txt
python-app/out.log
python-app/err.log
python-app/__pycache__/
python-app/python-env
python-app/app.ini
python-app/documentation/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
